<h1> Welcome to your money tracker. Kindly register yourself through our portal </h1></br>
<h5><%= link_to "Register yourself", new_user_path %></h5>
<h5><%= link_to "Show list of Users present", user_path(:id) %></h5>
